{% extends 'index.html' %}
{% load static %}
{% block title %}Sign Up{% endblock %}
{% block content %}

<div class="signup-content">
    <div class="signup-img">
        <img src="{% static 'images/signup-img.jpg' %}" alt="">
    </div>
    <div class="signup-form">
        <form method="POST" class="register-form" id="register-form">
            <h2>User Registration</h2>

            {% csrf_token %}
            {{ form.as_p }}         
            <div class="form-submit">
                <input type="reset" value="Reset All" class="submit" name="reset" id="reset" />
                <input type="submit" value="Submit Form" class="submit" name="submit" id="submit" />
            </div>
            <p>Already have an account? <a href="{% url 'accounts:signin' %}">Sign in</a></p>
        </form>
    </div>
</div>

{% endblock %}